* {
    margin: 0;

}

.h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f76565;
    text-align: center;
    padding: 3px;
}

/* .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
} */

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4vh;  
}
.image img{
    height: 85vh;
    width: 60%;
    object-fit: cover;
}
.image .button{
    color: #0f0d0d;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    padding: 2vh;
    text-shadow: 1px 1px 2px rgb(124, 59, 59), 0 0 1em rgb(26, 26, 44), 0 0 0.2em rgb(25, 25, 37);
    position:absolute;
    font-size: larger;
}
.button:hover {
    cursor: pointer;
}
